---
layout: default
---

<section class="intro">
  <div class="intro__body">
    <p class="intro__quote"><i>"You will never learn anything new [if it's not] significantly different from what you already know"</i></p>
    <p class="intro__source">Adapted from <a href="https://www.youtube.com/watch?v=SxdOUGdseq4" target="_blank" rel="noopener noreferrer">Rich Hickey - Simple made easy</a></p>
  </div>
</section>

<section class="post-list">
  {% for post in site.posts %}
    <article class="post-item">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="post-item__meta">
        <span>{{ post.date | date: "%-d %b, %Y" }}</span>
        <span class="post-item__author"><a href="{{ '/me/' | relative_url }}" rel="author">Jan-Gerke Salomon</a></span>
      </p>
      <p class="post-item__excerpt">{{ post.excerpt | strip_html | normalize_whitespace }}</p>
    </article>
  {% endfor %}
</section>
